<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>API Documentation</title>

	<!-- Style -->
	<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
	<link rel="stylesheet/less" href="../assets/css/color.less">
	<link rel="stylesheet/less" href="../assets/css/documentation.less">

	<!-- jQuery -->
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<!-- JS -->
	<script src="..//assets/js/index.js"></script>

	<!-- Less -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- jquery.slimscroll -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.6/jquery.slimscroll.min.js"></script>
</head>
<body>
	<aside class="sidebar-container">
		<div class="sidebar-brand-area">
			<a href="."><img src="../assets/img/brand.png" /></a>
		</div>
		<div class="sidebar-menu-area">
			<div class="sidebar-menu-wrap">
				<ul>
					<li class="collection highlight">
						<div class="block"></div>
						<label><a href="#">Backend API</a></label>
						<ol>
							<li><a href="#">Authentication</a></li>
							<li class="highlight"><a href="#">Payments</a></li>
							<li><a href="#">Promotions</a></li>
							<li><a href="#">Wallet</a></li>
							<li><a href="#">Coupons</a></li>
							<li><a href="#">Events</a></li>
						</ol>
					</li>
					<li class="collection">
						<div class="block"></div>
						<label><a href="#">CMS API</a></label>
						<ol>
							<li><a href="#">Authentication</a></li>
							<li class="highlight"><a href="#">Payments</a></li>
							<li><a href="#">Promotions</a></li>
							<li><a href="#">Wallet</a></li>
							<li><a href="#">Coupons</a></li>
							<li><a href="#">Events</a></li>
						</ol>
					</li>
					<li class="collection">
						<div class="block"></div>
						<label><a href="#">Mobile API</a></label>
						<ol>
							<li><a href="#">Authentication</a></li>
							<li class="highlight"><a href="#">Payments</a></li>
							<li><a href="#">Promotions</a></li>
							<li><a href="#">Wallet</a></li>
							<li><a href="#">Coupons</a></li>
							<li><a href="#">Events</a></li>
						</ol>
					</li>
				</ul>
			</div>
		</div>
	</aside>
	<div class="main-container">
		<div class="main-header-area">
			<h1>Backend API</h1>
			<h2>Authentication</h2>
			<blockquote>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla.</blockquote>
			<section class="api-box">
				<div class="method" data-method="POST"></div>
				<div class="endpoint">/v2/user/login</div>
				<div class="header">
					<label>Header</label>
					<div class="row">
						<div class="col-lg-4"><p class="ico-circle-none"></p>uuid</div>
						<div class="col-lg-8">
							<input type="text" value="ac4fe7cd-1c4d-cd462de7-ed356da957c2" />
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4"><p class="ico-circle-none"></p>datetime</div>
						<div class="col-lg-8">
							<input type="text" value="1436089175" />
						</div>
					</div>
				</div>
				<div class="parameter">
					<label>Parameter</label>
					<div class="row">
						<div class="col-lg-4"><p class="ico-circle"></p>email</div>
						<div class="col-lg-8">
							<input type="text" value="test@test.com" />
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4"><p class="ico-circle"></p>password</div>
						<div class="col-lg-8">
							<input type="text" value="7c842fdea892c632ced123cfe4b332fd" />
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4"><p class="ico-circle-none"></p>datetime</div>
						<div class="col-lg-8">
							<input type="text" value="1436089175" />
						</div>
					</div>
				</div>
				<div class="formdata">
					<label>Form Data</label>
					<div class="col-lg-12">
						<textarea name="formdata" cols="30" rows="10">
{
    "email": "test@test.com",
    "password": "7c842fdea892c632ced123cfe4b332fd",
    "datetime": 1436089175
}
						</textarea>
					</div>
				</div>
				<div class="row">
					<button type="submit">Try it</button>
				</div>
			</section>
		</div>
		<div class="content-area">
			<div class="content-header-area row">
				
			</div>
			<div class="content-body-area row">
				
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(function() {
			$('.sidebar-menu-wrap').slimScroll({
		        height: '100%'
		    });
		});
	</script>
</body>
</html>