<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>API Documentation</title>

	<!-- Style -->
	<link href='http://fonts.googleapis.com/earlyaccess/nanumgothic.css' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
	<link rel="stylesheet/less" href="<?= base_url(); ?>/assets/css/color.less">
	<link rel="stylesheet/less" href="<?= base_url(); ?>/assets/css/documentation.less">

	<!-- jQuery -->
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<!-- JS -->
	<script src="<?= base_url(); ?>/assets/js/index.js"></script>

	<!-- Less -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- underscope -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

	<!-- jquery.slimscroll -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.6/jquery.slimscroll.min.js"></script>

	<script>
		base_url = '<?= $base_url; ?>'
	</script>
</head>
<body>
	<aside class="sidebar-container">
		<div class="sidebar-brand-area">
			<a href="."><img src="<?= base_url(); ?>/assets/img/brand.png" /></a>
		</div>
		<div class="sidebar-menu-area">
			<div class="sidebar-menu-wrap">
				<ul>
					<?php $highlight_flag = true; ?>
					<?php foreach ($api_list as $controller_key => $api_value): ?>
						<li class="collection <?php if ($controller_key == $active_controller) echo 'highlight' ?>">
							<div class="block"></div>
							<label><a><?= $controller_key ?></a></label>
							<ol>
								<?php foreach ($api_value as $method_index => $api_method_name): ?>
									<li class="<?php if (!$method_index) echo 'highlight'; ?>"><a><?= $api_method_name; ?></a></li>
								<?php endforeach;?>
							</ol>
						</li>
					<?php endforeach;?>
				</ul>
			</div>
		</div>
	</aside>
	<div class="main-container">
		<div class="main-header-area">
			<h1><?= $active_controller ?></h1>
			<?php foreach ($api_detail['item'] as $api_item): ?>
				<div class="api-wrap <?= $api_item['method_name']; ?>">
					<h2 class="method-name"><?= $api_item['method_name']; ?></h2>
					<?php if ($api_item['description'] != '') { ?>
					<blockquote>
						<?= $api_item['description']; ?>
					</blockquote>
					<?php } ?>
					<section class="api-box">
						<div class="method" data-method="<?= $api_item['call_type'] ?>"></div>
						<div class="endpoint">
							<?php $url_parameter_str = ''; foreach($api_item['url_parameter'] as $url_parameter_item) $url_parameter_str .= '/{' . $url_parameter_item . '}'; ?>
							<?= $base_url . $active_controller . ($api_item['method_name'] == 'index' ? '' : '/' . $api_item['method_name']) . ($url_parameter_str != '/' ? $url_parameter_str : '') ?>
						</div>
						<?php if (count($api_item['url_parameter'])) { ?>
							<div class="urlparameter group">
								<label>URL Parameter</label>
								<?php foreach($api_item['url_parameter'] as $url_parameter_item): ?>
									<div class="row">
										<div class="col-lg-3"><p class="ico-circle-none"></p><?= '{' . $url_parameter_item . '}' ?></div>
										<div class="col-lg-9">
											<input type="text" value="" />
										</div>
									</div>
								<?php endforeach; ?>
							</div>
						<?php } ?>
						<?php if (count($api_item['header'])) { ?>
							<div class="header group">
								<label>Header</label>
								<?php foreach($api_item['header'] as $header_item): ?>
									<div class="row">
										<div class="col-lg-3"><p class="ico-circle-none"></p><?= $header_item ?></div>
										<div class="col-lg-9">
											<input type="text" value="" />
										</div>
									</div>
								<?php endforeach; ?>
							</div>
						<?php } ?>
						<?php if (count($api_item['parameter'])) { ?>
							<div class="parameter group">
								<label>Parameter</label>
								<?php foreach($api_item['parameter'] as $parameter_item): ?>
									<div class="row">
										<div class="col-lg-3"><p class="ico-circle"></p><?= $parameter_item ?></div>
										<div class="col-lg-9">
											<input type="text" value="" />
										</div>
									</div>
								<?php endforeach; ?>
							</div>
						<?php } ?>
						<div class="tryit row">
							<div class="col-lg-12">
								<button type="submit">Try it</button>
							</div>
						</div>
					</section>
				</div>
			<?php endforeach; ?>
		</div>
	</div>

	<footer class="footer-container">
		<div class="footer-header-area">
			<label>Request Console</label>
			<a href="#">
				<p class="ico-close"></p>
			</a>
		</div>
		<div class="footer-content-area row">
			<div class="code-area request col-md-6">
				<div class="description">api request</div>
				<pre class="code-wrap">
				</pre>
			</div>
			<div class="code-area response col-md-6">
				<div class="description">response</div>
				<pre class="code-wrap">
				</pre>
			</div>
		</div>
	</footer>

	<script type="text/javascript">
		$(function() {
			$('.sidebar-menu-wrap').slimScroll({
		        height: '100%'
		    });
		    $('.code-wrap').slimScroll({
		    	height: '226px'
		    });

		    parse_code_block();
		});
	</script>
</body>
</html>