@charset "utf-8";

@color-sidebar-background: #2A2E3E;
@color-background: #FDFDFD;
@color-highlight: #FCDB77;
@color-border: #B2B7B2;

@color-menu-highlight: @color-highlight;
@color-menu-normal: #FFFFFF;

@color-text-white: #FFFFFF;
@color-text-gray: #A3A5B1;